---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../consts';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5/index.js'
import Masthead from '../components/Masthead.astro'
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[56px]">
			<Masthead />
			<Content>
				<section>
					<p class="mb-8 indent-4">
            En tant que développeur, je passe des heures et des heures sur 
						mon bureau, et une des pièce importante de celui-ci, c'est le clavier.
						En construisant mon premier custom, je me suis découvert une nouvelle passion
						autour des claviers customs.
            <a
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              href={HOMEPAGE_URL}
              >Pour en apprendre plus sur moi <IoArrowForward className="inline" />
            </a>
          </p>
				</section>
			</Content>
		</main>
		<Footer />
	</Body>
</html>
